# CONFLUENT_CLOUD
KAFKA_BOOTSTRAP_SERVERS=
KAFKA_API_KEY=
KAFKA_API_SECRET=
KAFKA_TOPIC="banking.transactions"

TABLEFLOW_ENDPOINT=
TABLEFLOW_API_KEY=
TABLEFLOW_API_SECRET=

SCHEMA_REGISTRY_URL=
SCHEMA_REGISTRY_API_KEY=
SCHEMA_REGISTRY_API_SECRET=

REST_ENDPOINT=
CLUSTER_ID=

# AWS
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

# ASTRA_DB
ASTRA_DB_APPLICATION_TOKEN=
ASTRA_SECURE_BUNDLE_PATH=
ASTRA_KEYSPACE="default"
